a {
  text-decoration: none;
  color : white;
  font-weight: bold;
  font-size: 15px;
}
ul {
    list-style-type: none;
    display: flex;
}
li {
    margin-right: 35px;
    display: inline-block;
}
nav {
    display: flex;
    background-color: rgb(0, 3, 3);
    color: white;
    padding: 5px;
}
button {
    width: 100px;
    height: 30px;
}
body {
    background-image: url('Travel4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
input {
    outline: none;
    width: 200px;
    padding: 5px;
    border-radius:5px;
}
#homeHead {
    position: relative;
    top: 100px;
    left: 60px;
    width: 250px;
    font-size: 50px;
}
#homePara {
    position: relative;
    top: 100px;
    left: 60px;
    width: 200px;
    font-size: 15px;
}
#aboutusnavdiv {
    position: absolute;
    right: 100px;
}
#aboutUsHead {
    position: absolute;
    top: 80px;
    left: 120px;
    width:fit-content;
    font-size: 60px;
    font-weight: 800;
    font-family:Arial, Helvetica, sans-serif;
}
#aboutUsPara {
    position: absolute;
    top: 190px;
    left: 120px;
    width: fit-content;
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif;
}
#aboutUsHeadTeam {
    position: absolute;
    top: 315px;
    left: 150px;
    font-size: 50px;
    font-weight: 800;
    font-family:Arial, Helvetica, sans-serif;
    width: 200px;
}
#aboutusUl {
    position: absolute;
    top: 350px;
    left: 400px;
    margin: 20px;
}
#contactUsHead {
    position: absolute;
    top: 315px;
    left: 150px;
    font-size: 50px;
    font-weight: 800;
    font-family:Arial, Helvetica, sans-serif;
    width: 500px;
}
#contactUsP {
    position: absolute;
    top: 420px;
    left: 160px;
    font-family:Arial, Helvetica, sans-serif;
}
#contactForm {
    position: absolute;
    top: 250px;
    left: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 40px;
    color: white;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    
}
#name, #email, #message {
    background: transparent;
    width: 300px;
    color: white;
}
#recommendationDiv {
    position: absolute;
    top: 100px;
    left: 900px;
}
.destinations {
    background: black;
    color: white;
    width: 400px;
    padding: 5px;
}
.destImage {
    width: 380px;
    height: 250px;
}
.teamdiv {
    font-size: 20px;
    background-color: black;
    color: white;
    margin: 30px;
    padding: 20px;
}
.teamli {
    margin: 50px%
}
#welcomeDiv {
    position: absolute;
    top: 100px;
    left: 150px;
    font-size: 40px;
    font-weight: 700;
    font-family:Arial, Helvetica, sans-serif;
    width: 500px;
}